/**************************************************************************************/
/* BELOW 1344px (smaller desktops) */
/**************************************************************************************/
@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }
}
/**************************************************************************************/
/* BELOW 1200px (tablets) */
/**************************************************************************************/
@media (max-width: 75em) {
    /* 9px/16px*100%=56.25% */
    html {
        font-size: 56.25%;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .heading-secendery {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .setimonials-buffor {
        padding: 9.6rem 3.2rem;
    }
}
/**************************************************************************************/
/* BELOW 944px (tablets) */
/**************************************************************************************/
@media (max-width: 59em) {
    /* 8px/16px*100%=50% */
    html {
        font-size: 50% !important;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 7rem;
        gap: 6.4rem;
    }

    .hero-img {
        width: 60%;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .delivered-meals {
        justify-content: center;
        margin-top: 3.2rem;
    }

    .step-number {
        font-size: 7.4rem;
    }

    .btn--form {
        margin-top: 1.2rem;
    }

    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.96);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        /*Hide it visually */
        opacity: 0;
        /* Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* Make it from screen readers */
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link.nav-cta:link,
    .main-nav-link.nav-cta:visited {
        font-size: 3rem;
    }
}
/**************************************************************************************/
/*  BELOW 704px (SMALLER tablets) */
/**************************************************************************************/
@media (max-width: 44em) {
    .grid--2-cols {
        grid-template-columns: 1fr !important;
    }

    .diets {
        grid-column: 1/-1;
        justify-self: center;
    }

    .heading-secendery {
        font-size: 3.6rem;
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }

    .grid--footer {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-column {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .adress-column,
    .logo-column {
        grid-column: span 3;
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }
}
/**************************************************************************************/
/*  BELOW 544px (phones) */
/**************************************************************************************/
@media (max-width: 34em) {
    .grid {
        row-gap: 4.8rem;
    }

    .grid--2-cols {
        grid-template-columns: 1fr !important;
    }

    .hero {
        padding: 0 3.2rem;
    }

    .section-hero {
        padding: 2.4rem 0 6.4rem 0;
    }

    .btn,
    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }

    .btn--full {
        margin-bottom: 2rem;
    }

    .hero-img {
        width: 80%;
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box {
        transform: translateY(2.4rem);
    }
}
